.carouselExampleFade{
    position: relative;
    top: 200px;
    min-width: 100%;
    min-height: 500px;
}
.carousel{
    min-width: 100%;
    min-height: 500px;
    img{
        width: 80%;
        height: 500px;
    }
}