.more{
    position: relative;
    top: 140px;
    min-width: 100%;
    min-height: auto;
    background-color: $color1;
    text-align: center;
    padding: 20px;
    .btns-next a{
        color: #000;
        border-bottom: 1px solid black;
        padding: 3px 5px;
        border-radius: 5px;
        margin-right: 20px;
        &:hover{
            color: $color5;
            border-bottom: 1px solid $color5;
        }
    }
}